.container
  footer.my-md-3.pt-5.pb-5
    .jumbotron
      .row
        .col-lg-6.col-md
          .lexique-title.mt-3 Liste d'outils Dat'Audiar
          .links.mt-4
            .list-group.list-group-flush
              a.list-group-item(href="https://portail.audiar.org/obs-donnees" target="_blank") Portail Dat'Audiar
              a.list-group-item(href="http://srv-gitlab.audiar.net:81/wordpress/" target="_blank") Blog
              a.list-group-item(href="https://requeteur.audiar.org/login" target="_blank") Requêteur
              a.list-group-item(href="https://data.audiar.org/manage-data/index.php" target="_blank") Gestionnaire de métadonnées
              a.list-group-item(href="http://srv-gitlab.audiar.net/explore" target="_blank") Code source des projets
              a.list-group-item(href="http://srv-gitlab.audiar.net/rfroger/pgsql-documentation/-/blob/master/README.md" target="_blank") Documentation PostgreSQL
              a.list-group-item(href="http://srv-gitlab.audiar.net/rfroger/global-documentation/-/blob/master/README.md" target="_blank") Documentation générale
              a.list-group-item(href="https://data.audiar.org/labs/labs-portal/" target="_blank") Recherche et développement
        .col-lg-6.col-md
          .lexique-title.mt-3 Projets
          .links.mt-4
            .list-group.list-group-flush
              a.list-group-item(href="https://baro.audiar.org/" target="_blank") Baro'Métropole
              a.list-group-item(href="https://obs-habitat.audiar.org/" target="_blank") Observatoire de l'habitat
              a.list-group-item(href="https://obs-foncier.audiar.org/" target="_blank") Observatoire du foncier
              a.list-group-item(href="https://data.audiar.org/mnie-en-ligne/" target="_blank") MNIE en ligne
              a.list-group-item(href="https://data.audiar.org/indicateurs-jeunesse/" target="_blank") Indicateurs jeunesse
              a.list-group-item(href="https://data.audiar.org/portrait-commune/" target="_blank") Portraits de communes
    .jumbotron
      .row
        .col-12.col-md
          .box Développé par l'Audiar
          .links.mt-4
            a.classic-link(href="http://srv-gitlab.audiar.net/rfroger/gestion-projet-app" target="_blank") Code source