.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/groupView?idGroup=1") Groupe Dat'Audiar
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/projectView?idProject=54") Projet Baro'Métropole
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=17") Corinne Guilleux
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=15") Corinne Croguennec-Lemercier
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=16") Marie Jamaux
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=19") Dominique Gérard
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=2") Erwan Troël
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=11") Emmanuel Bouriau
.badge.badge-dark.mr-2.mb-2
    a.text-white(href="/memberView?idMember=1") Rémi Froger